<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Pokedex
    </ion-title>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search Pokemon" (ionChange)="onSearchChange($event)"></ion-searchbar>
  <ion-list *ngIf="!loaded">
    <ion-item *ngFor="let i of [1,2,3,4,5,6,7,8,9]">
      <ion-label class="ion-text-capitalize">
        <h2>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="loaded">
    <ion-item *ngFor="let poke of pokemon;" [routerLink]="poke.url.split('/').slice(-2, -1)[0]">
      <ion-label class="ion-text-capitalize">
        <h2>{{ poke.name }}</h2>
        <p># {{poke.url.split('/').slice(-2, -1)[0]}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadPokemons(true, $event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more Pokemon...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>