<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Draw</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [forceOverscroll]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Draw</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <canvas class="myCanvas"></canvas>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="draw">
        <ion-icon name="pencil"></ion-icon>
        <ion-label>Draw</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="pokemon">
        <ion-icon src="/assets/icon/generated.svg"></ion-icon>
        <ion-label>Pokédex</ion-label>
      </ion-tab-button>  
      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
