<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
     Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-fab class="buttons" vertical="bottom" horizontal="end" slot="false">
  <ion-fab-button [disabled]='buttonDisabled' color="warning" (click)="loadRandomPokemonGen1()">
    <ion-icon name="dice"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-content [fullscreen]="true" scroll-y="false">
    <ion-row class="ion-justify-content-center">
      <ion-card>
        <ion-card-header class="ion-text-center">
          <ion-card-title>{{ pokemonGen1?.name }}</ion-card-title>
          <ion-card-subtitle>#{{ pokemonIndex }}</ion-card-subtitle>
        </ion-card-header>
          <ion-card-content>
            <ion-spinner *ngIf="!loaded" name="circular"></ion-spinner>
            <ion-img *ngIf="loaded" id="pokeImage" [src]="pokeImage" alt="Image random pokémon"/>
              <ion-chip *ngFor="let t of pokemonGen1?.types" color="danger"> 
                <ion-label>{{t.type.name}}</ion-label>
              </ion-chip>

            <ion-item>
            <ion-label>
                  Abilities:
                  <div *ngFor="let detail of pokemonGen1?.abilities;"
                    class="ion-text-capitalize">
                    {{ detail.ability.name }}
                </div>
            </ion-label>
            </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="draw">
          <ion-icon name="pencil"></ion-icon>
          <ion-label>Draw</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="pokedex">
          <ion-icon src="/assets/icon/generated.svg"></ion-icon>
          <ion-label>Pokédex</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="about">
          <ion-icon name="information-circle"></ion-icon>
          <ion-label>About</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-content>