<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
     Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-fab vertical="top" horizontal="end" slot="false">
  <ion-fab-button [disabled]="isButtonDisabled" color="warning" (click)="loadRandomPokemonGen1()">
    <ion-icon name="dice"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-content [fullscreen]="true" scroll-y="false">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ pokemonGen1?.name }}</ion-card-title>
        <ion-card-subtitle>#{{ pokemonIndex }}</ion-card-subtitle>
      </ion-card-header>
        <img id="pokeImage" [src]="pokeImage" alt="Image random pokémon">
          <ion-item>
            Test: {{pokemonGen1?.forms.map(o => <ion-item>{{o.url}}</ion-item>)}}

            <!-- {weaponData?.attack.map(a => <ListGroup.Item key={a.name} action>{a.name} - {a.amount}</ListGroup.Item>)} -->
          </ion-item>
      </ion-card>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="draw">
          <ion-icon name="pencil"></ion-icon>
          <ion-label>Draw</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="pokemon">
          <ion-icon src="/assets/icon/generated.svg"></ion-icon>
          <ion-label>Pokédex</ion-label>
        </ion-tab-button>  
        <ion-tab-button tab="about">
          <ion-icon name="information-circle"></ion-icon>
          <ion-label>About</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-content>