<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-toggle (ionChange)="this.isShinies = !this.isShinies;" [(ngModel)]="isShinies"></ion-toggle>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{ details?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="details">
    <ion-card>
      <ion-card-header>
        <div *ngIf="!isShinies">
          <img [src]="details.sprites.other.showdown.front_default"/>
          <img [src]="details.sprites.other.showdown.back_default"/>
        </div> 
        
        <div *ngIf="isShinies">
          <img [src]="details.sprites.other.showdown.front_shiny"/>
          <img [src]="details.sprites.other.showdown.back_shiny"/>
        </div>

        <ion-card-title class="ion-text-capitalize">#{{ details.id }} {{ details.name }}
          <ion-chip color="primary" *ngFor="let t of details.types">
            <ion-label>{{ t.type.name }}</ion-label>
          </ion-chip>
        </ion-card-title>
      </ion-card-header>

      <ion-card>
        <ion-card-content>
          <p>Height: {{ details?.height }}</p>
          <p>Weight: {{ details?.weight }}</p>
          <ion-item>
            <ion-label text-wrap><b>Abilities:</b> <span *ngFor="let a of details.abilities; let isLast = last"
                class="ion-text-capitalize">
                {{ a.ability.name }}{{ !isLast ? ',' : '' }}
              </span></ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-card>
</ion-content>